@import '~scss/variables';
@import '~scss/mixins';

.content {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: #ffffff;
    text-align: left;
    th,
    td {
      text-align: left; /** 设置水平方向居中 */
      vertical-align: middle; /** 设置垂直方向居中 */
    }
  .title{
    color:$dark-color05;
    font-size:small;
  }
  //.table{
  //  text-align: left;
  //}
    .header {
        display: flex;
        padding: 12px;
        background-color: $th-bg-color;
    
        .search {
          width: 100%;
        }
    
        .actions {
          flex: 1 0 auto;
    
          :global {
            button {
              margin-left: 12px;
    
              &:hover {
                background-color: $bg-color;
              }
            }
          }
        }
      }
  }
